.container{
    height: 600px;
    background-color: #cacaca;
    margin: 50px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}
.logo{
    display: flex;
    /* flex-direction: column-reverse; */
}
.nav{
    display: flex;
    /* flex-direction: row-reverse; */
}
.menu{
   display: flex;

}
.item{
    background-color: #7fffd4;
    margin: 10px;
    padding: 20px;
    border: 2px solid white;
   
}
.nav-items{
    background-color: #46e423;
    margin: 10px;
    padding: 20px;

    
    border: 2px solid white;
}
.menues{
    background-color: #bf9603;
    margin: 10px;
    padding: 20px;
    border: 2px solid white;
}